name: iOS Build Dev

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: macos-latest
    steps: 
      - name: Checkout
        uses: actions/checkout@v6
      
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version: 3.35.4
      
      - name: Install dependencies
        working-directory: packages/frontend
        run: flutter pub get

      - name: Install iOS dependencies
        working-directory: packages/frontend
        run: |
          cd iOS
          pod install --repo-update
          cd ..

      - name: Build iOS
        working-directory: packages/frontend
        run: flutter build ipa --debug --build-name=1.0.0 --build-number=1 --no-codesign